/* CSS Document */
:root {
    --primary-color: #0d0d0d;
    --secondary-color: #d4af37;
    --accent-color: #b76e79;
    --text-color: #f5f5f5;
    --hover-bg: rgba(183, 110, 121, 0.2);
}

/* Global */
* {
    margin: 0;  /* margin adalah properti CSS yang digunakan untuk mengatur jarak antara elemen dan elemen lainnya. */
    padding: 0; 
    box-sizing: border-box;
    outline: none; /* outline adalah properti CSS yang
    digunakan untuk menentukan gaya garis yang mengelilingi elemen. */
    border: none; /* border adalah properti CSS yang digunakan untuk menentukan gaya, lebar, dan warna garis elemen. */
    text-decoration: none; /* text-decoration adalah properti CSS yang digunakan untuk mengatur dekorasi teks elemen. */
    font-family: 'Times New Roman', Times, serif; /* jenis font */
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0; /* margin adalah properti CSS yang digunakan untuk mengatur jarak antara elemen dan elemen lainnya. */
    padding: 0; /* padding adalah properti CSS yang
    digunakan untuk menambahkan ruang di sekitar konten elemen, di dalam kotak elemen. */
    box-sizing: border-box; /* box-sizing adalah properti CSS yang
    memungkinkan untuk menentukan model kotak yang digunakan oleh browser untuk menghitung dimensi elemen */
    background: var(--primary-color);
    color: var(--text-color); 
    min-height: 2000px; /* tinggi minimum 2000px */
}

/* Navbar */
.navbar {
    display: flex; /* properti yang memungkinkan pengaturan layout, posisi, dan tampilan konten secara fleksibel*/
    justify-content: space-between; /* properti CSS yang digunakan untuk menyelaraskan dan mendistribusikan item flex atau konten di sepanjang sumbu utama wadah flex*/
    align-items: center; /* properti yang digunakan untuk memusatkan teks atau elemen ke tengah*/
    padding: 1.4rem 7%; /* 1.4 x 16px = 22.4px, 7% x 16px = 112px Padding dapat digunakan untuk mengatur jarak antara konten dan batas elemen. */
    background-color: rgba(0, 0, 0, 0.8); /* warna background navbar */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3); /* shadow navbar */
    position: fixed; /* elemen tetap akan tetap berada di posisi yang sama relatif terhadap tata letak halaman */
    top: 0; /* jarak dari atas */
    left: 0; /* jarak dari kiri */
    right: 0; /* jarak dari kanan */
    z-index: 9999; /* z-index adalah properti CSS yang menentukan urutan tumpukan elemen. */
}

/* Navbar Logo */
.navbar .navbar-logo {
    font-size: 1.5rem; /* ukuran font 1.5 x 16px = 24px */
    font-weight: 700; /* ketebalan font */
    color: #ffffff; /* warna font */
    font-style: italic; /* gaya font */
}

/* Navbar Span*/
.navbar .navbar-logo span {
    color: #808080; /* warna font */
}

/* Navbar Menu */
.navbar .navbar-nav a{
    color: #ffffff; /* warna font */
    display: inline-block; /* elemen ditampilkan sebagai blok, tetapi tanpa memaksa baris baru */
    font-size: 1rem; /* ukuran font 1 x 16px = 16px */
    margin: 0 1rem;
    transition: color 0.3s; /* efek transisi warna font */
}

/* Navbar Menu Hover untuk menampilkan efek hover */
.navbar .navbar-nav a:hover {
    color: #808080; /* warna font */
}

/* Navbar Menu Active untuk menampilkan efek active */
.navbar .navbar-nav a::after {
    content: ''; /* content adalah properti CSS yang digunakan untuk menambahkan konten ke elemen */
    display: block; /* elemen ditampilkan sebagai blok, tetapi tanpa memaksa baris baru */
    padding-bottom: 0.5rem; /* jarak dari bawah */
    border-bottom: 0.1rem solid #808088; /* garis bawah */
    transform: scaleX(0); /* transform adalah properti CSS yang digunakan untuk memindahkan, memutar, membesar, atau memperkecil elemen. transform: scaleX(0) digunakan untuk membesar elemen secara horizontal. berarti elemen akan diperkecil hingga tidak terlihat (lebar elemen menjadi 0). */
    transition: 0.2s linear; /* efek transisi */
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1); /* transform: scaleX(1) digunakan untuk membesarkan elemen. Jika scaleX(1), elemen akan memiliki ukuran aslinya. Jika scaleX(2), elemen akan menjadi dua kali lebih lebar dari ukuran aslinya. */
}

/* Navbar Logout */
.navbar .navbar-logout {
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600; 
    cursor: pointer; /* cursor adalah properti CSS yang digunakan untuk mengubah tampilan kursor saat berada di atas elemen. */
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block; /* elemen ditampilkan sebagai blok, tetapi tanpa memaksa baris baru */
}

.navbar .navbar-logout:hover {
    background-color: #808080;
    color: #ffffff;
    transform: scale(1.05);
}

.navbar .navbar-logout a {
    color: #ffffff;
}

/* Hero Section */
.hero {
    min-height: 100vh; /* tinggi minimum 100vh. Properti ini berguna untuk memastikan elemen tidak menyusut di bawah batas tertentu.*/
    display: flex; /* properti yang memungkinkan pengaturan layout, posisi, dan tampilan konten secara fleksibel*/
    align-items: center; /* properti yang digunakan untuk memusatkan teks atau elemen ke tengah*/
    background-image: url('../img/header-bg.jpg'); /* gambar background */
    background-repeat: no-repeat; /* background tidak diulang */
    background-size: cover; /* background menutupi elemen */
    background-position: center; /* posisi background */
    position: relative; /* elemen ditempatkan relatif terhadap elemen induknya */
}

/* Hero Overlay */
.hero::after {
    content: '';
    display: block; /* elemen ditampilkan sebagai blok, tetapi tanpa memaksa baris baru */
    position: absolute; /* elemen ditempatkan relatif terhadap elemen induknya */
    width: 100%; /* lebar 100% */
    height: 20%; /* tinggi 100% */
    bottom: 0; /* jarak dari bawah */
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3%, rgba(225, 225, 225, 0) 100%); /* gradient background */
}

/* Hero Content */
.hero .content {
    padding: 1.4rem 7%; /* 1.4 x 16px = 22.4px, 7% x 16px = 112px Padding dapat digunakan untuk mengatur jarak antara konten dan batas elemen. */
    max-width: 60rem; /* lebar maksimum 60rem * 16px = 960px */
}

/* Hero Title */
.hero .content h1 {
    font-size: 5em; /* ukuran font 5em * 16px = 80px */
    color: #fff; /* warna font */
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); /* shadow font */
    line-height: 1.2; /* jarak antar baris */
}

/* Hero Title Span */
.hero .content h1 span {
    color: var(--accent-color); /* warna font */
}

/* Hero Paragraph */
.hero .content p {
    font-size: 1.6rem; /* ukuran font 1.6em * 16px = 25.6px */
    margin-top: 1rem; /* jarak dari atas */
    line-height: 1.4; /* jarak antar baris */
    font-weight: 100; /* ketebalan font */
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); /* shadow font */
}

.hero .content .biodata {
    margin-top: 1rem; /* jarak dari atas */
    display: inline-block; /* elemen ditampilkan sebagai blok, tetapi tanpa memaksa baris baru */
    padding: 1rem 3rem; /* 1 x 16px = 16px, 3 x 16px = 48px */
    font-size: 1.4rem; /* ukuran font 1.4em * 16px = 22.4px */
    color: #fff; /* warna font */
    background-color: var(--accent-color); /* warna background */
    border-radius: 1rem; /* border radius */
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); /* shadow */
}

/* About Section */
.about {
    padding: 6rem 7% 1.4rem; /* 6 x 16px = 96px, 7% x 16px = 112px, 1.4 x 16px = 22.4px */
}

/* About Title */
.about h2 {
    font-size: 2.6em; /* ukuran font 2.5em * 16px = 40px */
    font-family: 'Times New Roman', serif; /* jenis font */
    text-align: center; /* posisi teks */
    margin-bottom: 3rem; /* jarak dari bawah */
}

.about h2 span {
    color: var(--accent-color); /* warna font */
}

.about .row {
    display: flex; /* properti yang memungkinkan pengaturan layout, posisi, dan tampilan konten secara fleksibel*/
}

.about .row about-img {
    flex: 1 1 45rem; /* flex: 1 digunakan untuk memberikan elemen ruang yang sama */
}

.about .row about-img img {
    width: 50px; /* lebar 100% */
}

.about .row .content {
    flex: 1 1 35rem; /* flex: 1 digunakan untuk memberikan elemen ruang yang sama */
    padding: 0 1rem; /* 0 x 16px = 0px, 1 x 16px = 16px */
}

.about .row .content h3 {
    font-size: 1.8rem; /* ukuran font 1.8em * 16px = 28.8px */
    margin-bottom: 1rem; /* jarak dari bawah */
}

.about .row .content p {
    font-size: 1.4rem; /* ukuran font 1.4em * 16px = 22.4px */
    font-weight: 100; /* ketebalan font */
    margin-bottom: 0.8rem; /* jarak dari bawah */
    line-height: 1.6; /* jarak antar baris */
}

/* Biodata */
.biodata {
    text-align: center;
    padding: 6rem 7% 1.4rem; /* 6 x 16px = 96px, 7% x 16px = 112px, 1.4 x 16px = 22.4px */
    background: linear-gradient(to bottom, #1a1a1a, #000);
    color: #fff;
}

.biodata span {
    color: var(--accent-color);
}

.biodata h2 {
    font-size: 32px;
    font-family: 'Times New Roman', serif;
    color: #fff;
    text-transform: uppercase; /* text-transform adalah properti CSS yang digunakan untuk mengubah teks menjadi huruf besar atau huruf kecil */
    letter-spacing: 2px; /* letter-spacing adalah properti CSS yang digunakan untuk menentukan jarak antara karakter dalam teks */
}

.biodata-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.biodata-card {
    background: #111;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--secondary-color);
    width: 50%;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}

/* Efek Cahaya Elegan */
.biodata-card::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: rgba(255, 254, 254, 0.1); /* warna transparan */
    z-index: -1; /* z-index adalah properti CSS yang menentukan urutan tumpukan elemen. */
    border-radius: 14px;
}

/* Header Styling */
.biodata-header p {
    font-style: italic;
    color: #ffffff;
    font-size: 14px;
}

/* Content Styling */
.biodata-content ul {
    list-style: none; /* Menghilangkan tanda daftar */
    padding: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: column; /* flex-direction adalah properti CSS yang digunakan untuk menentukan arah item dalam kontainer flex */
    align-items: center; /* properti yang digunakan untuk memusatkan teks atau elemen ke tengah */
    gap: 8px; /* jarak antar elemen */
}

.biodata-content ul li {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    padding: 10px 15px;
    width: 80%;
    text-align: left;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: #ddd;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.biodata-content ul li span {
    font-size: 20px;
}

/* Efek Hover */
.biodata-card:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}

.biodata-content ul li:hover {
    background: var(--accent-color);
    color: #111;
    transform: translateX(5px); /* efek hover pada item */
}