<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografi</title>
    <link rel="stylesheet" href="../asset/css/navbar.css">
</head>
<body>
    
    <!-- Navbar Start -->
    <nav class="navbar">
        <a href="#" class="navbar-logo">R <span>Mahesa</span>.</a>

        <div class="navbar-nav">
            <a href="#">Home</a>
            <a href="about.html">Tentang Saya</a>
            <a href="biodata.html">Biodata</a>
            <a href="kontak.html">Kontak</a>
        </div>

        <!-- Logout -->
        <div class="navbar-logout">
            <a href="login.html">Logout</a>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Hero Section Start -->
    <section class="hero" id="home">
        <main class="content">
            <h1>Buatlah Imajinasi Anda <span>Sendiri</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quibusdam?</p>
            <a href="#" class="biodata">Biodata</a>
        </main>
     </section>
    <!-- Hero Section Start -->
</body>
</html>